<div class="divBorderClass" style="height: 90%;">
    <h1 class="pageHeading">
        Welcome to Quiz Application
    </h1>
    <br/>
    <h2 class="pageHeading">
        Please Select an Option
    </h2>
    <div class="divBorderClass" style="border-style:groove; margin: 0 auto;">
        <div style="text-align: center; margin: 1%;">
            <button mat-raised-button class="quizButtons" style="margin:20px;" (click)="addQuestions()">Add Questions</button>
            <button mat-raised-button color="primary" class="quizButtons" style="margin:20px;" (click)="startQuiz()">Start Quiz</button>
        </div>
    </div>
</div>