.pageHeading {
    text-align: center;
}

.divBorderClass {
    border-style: double;
    height: auto;
    margin: 1% 1% 1% 1%;
    padding: 1%;
}

.quizButtons { 
    width: 300px!important;
    min-width: unset!important;
}